<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="19673605-a7c4-43d9-b819-03f7015a0912" Publisher="CN=Srujan Jha" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="19673605-a7c4-43d9-b819-03f7015a0912" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>LendnBorrow</DisplayName>
    <PublisherDisplayName>Srujan Jha</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LendnBorrow.App">
      <m3:VisualElements DisplayName="LendnBorrow" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="LendnBorrow" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="csv">
            <DisplayName>CSV</DisplayName>
            <SupportedFileTypes>
              <FileType>.csv</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.contactPicker" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m3:Capability Name="contacts" />
  <Capability Name="documentsLibrary" />
  </Capabilities>
</Package>